.mainpage_wrapper {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.main_page_dashboard_wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #0d1a35;
  position: relative;
}

.toggle_button_wrapper {
  width: 100%;
}

.recommended_portfolios_wrapper {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, max-content));
  justify-content: space-evenly;
  justify-items: center;
  background-color: #142649;
}

.recommended_portfolios_title {
  margin: 2rem 8rem;
  text-align: left;
  font-size: 1.5rem;

  p {
    margin-block-start: .5em;
    margin-block-end: 0
  }
}
