.mainpage_wrapper {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.main_page_dashboard_wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: #0d1a35;
  position: relative;
}

.recommended_portfolios_wrapper {
  width: 90vw;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, max-content));
  justify-content: space-evenly;
  justify-items: center;
  background-color: #142649;
  padding: 10px 0;
}

.recommended_portfolios_title {
  margin: 1.4rem 8rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}