.company_card_list.container {
  display: flex;
  width: 43rem;
  height: 15.2rem;
  overflow-x: auto;
  border-radius: 0.3rem;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}

.container::-webkit-scrollbar {
  width: 0.2rem;
}
.container::-webkit-scrollbar-thumb {
  background-color: $theme_color;
  border-radius: 0.3rem;
}
.container::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
