html {
  body {
    background-color: $theme-color;
    font-family: $font;
    color: $primary;
    box-sizing: border-box;
    margin: 0;
    button {
      background-color: transparent;
      border-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }
    a { color: inherit; }
  }
}
