.mainpage_wrapper {
  width: 100%;
  margin-top: 5rem;
}

.recommended_portfolios_wrapper,
.company_cards_wrapper {
  margin: 10px auto;
}

.recommended_portfolios_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
