.mainpage_wrapper {
  width: 100%;
  margin-top: 5rem;
}

.myportfolio_card_wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.toggle_button_wrapper {
  padding: 0 3.9rem;
  display: flex;
  justify-content: flex-end;
}

.recommended_portfolios_wrapper {
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
