.companyCard {
  display: flex;
  width: 12em;
  height: 12em;
  background-color: salmon;
  border-radius: $border-radius;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
};

.companyCard:nth-child(odd) {
  animation: upDownOdd 5s linear infinite;
}

.companyCard:nth-child(even) {
  animation: upDownEven 5s linear infinite;
}

@keyframes upDownOdd {
  100% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-30px);
  }
  0% {
    transform: translateY(30px);
  }
}

@keyframes upDownEven {
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
  0% {
    transform: translateY(-30px);
  }
}
