.stock_details_wrapper {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(500px, 4fr) 1fr;
  margin-top: 5rem;
  align-items: flex-start;
  height: 100%
}

.stock_details_left {
  height: 100%;
}

.stock_item.card_list {
  display: flex;
  width: 95%;
  height: 5rem;
  justify-content: flex-end;
}

.card_list_title {
  width: 95%;
  text-align: right;
  line-height: 0.3rem;
  font-size: 3rem;
  height: 2rem;
  margin-top: 5rem;

  p {
    font-size: 2rem;
    padding-top: 2rem;
  }
}

.stock_item.chart {
  height: 38rem;
}

.chart_stick:hover {
    opacity: 0.2;
}

.chart_wrapper {
  height: 60%;
}
