.stock_details_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 2fr;
  margin-top: 5rem;
  align-items: flex-start;
}

.stock_item.card_list {
  margin: 1.5rem auto;
  width: 100%;
  text-align: center;
}

.stock_item {
  margin: 0 auto;
}
