.trending_list {
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
  width: 14rem;
  height: 20rem;
  margin: 1.2rem 0;
  background-color: #142649;

  h3 {
    margin-block-start: 1.2em;
    text-align: center;
  }

  h4 {
    text-align: left;
    margin-left: 24px;
  }

  a {
    text-decoration: none;
  }
}
