@keyframes v_bar_grow {
  0%  {height:20px;}
  20%  {height:45px;}
  40%  {height:60px;}
  60%  {height:60px;}
  80%  {height:45px;}
  100% {height:20px;}
}

.loading_indicator {
  position: relative;
}

.loading_indicator .v_bar {
  position: absolute;
  bottom: 0;
  width: 20px;
  margin: 2px;
  display: inline-block;
  animation: v_bar_grow .8s infinite linear;
}

.v_bar.first {
  background-color: #235789;
  animation-delay: .3s;
  left: 0;
}

.v_bar.second {
  background-color: #ED1C24;
  left: 25px;
}

.v_bar.third {
  background-color: #F1D302;
  animation-delay: .5s;
  left: 50px;
}

.loading_indicator_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
