.myPageWrapper {
  width: 960px;
  border: 1px solid green;
  margin: 80px auto;
  padding: 15px;
}

.graphsWrapper,
.dashboard,
.tableWrapper {
  margin: 10px auto;
}

.graphsWrapper {
  border: 1px solid yellow;
}

.dashboard {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
}

.tableWrapper {
  border: 1px solid red;
}

.tableTitle {
  border: 1px solid white;
  display: flex;
  flex-direction: row;

  h3 {
    color: white;
  }
}

table {
  color: white;
  border-collapse: collapse;
}

.myPortfolioPieChart {
  margin: 0 auto;
}
