@mixin cursorPointer() {
  cursor: pointer;
}

@mixin rightAlignedButton() {
  @include cursorPointer;
  position: absolute;
  right: 25px;
}

.profileButton {
  @include cursorPointer();
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.loginButton {
  @include rightAlignedButton;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #FF5391;
  font-size: 16px;
  font-weight: bold;
}

.preferencesButton,
.logoutButton {
  @include cursorPointer;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  width: 180px;
  background-color: #FF5391;
  font-size: 16px;
  font-weight: bold;
}

.closeModal {
  @include cursorPointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.portfolioItemSumbitButton {
  @include cursorPointer;
}

.editButton,
.deleteButton {
  @include cursorPointer;
  background: none;
  border: none;
  color: white;
}

.tabbar_button {
  @include cursorPointer();
  color: $primary;
  font-size: 1.2rem;
}

.message_button {
  @include cursorPointer();
  background-color: $theme_color;
}
