@mixin modalBase() {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #142649;
  z-index: 10;
}

@mixin centered() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user_modal {
  @include modalBase;
  justify-content: space-evenly;
  height: 150px;
  width: 220px;
  position: fixed;
  right: 0;
  transition: all 1 ease-in-out;
  top: 80px;
}

.portfolio_item_input_modal {
  @include modalBase;
  @include centered;
  justify-content: space-around;
  width: 220px;
  height: 260px;
  padding: 15px;

  h3 {
    margin-block-start: 0;
    margin-block-end: .2em;
  }
}

.auth_modal {
  @include modalBase;
  @include centered;
  justify-content: space-evenly;
  width: 360px;
  height: 240px;
}
