.portfolio_dashboard {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  margin: 10px auto;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  background-color: #142649;
}

.dashboard_asset,
.dashboard_return,
.dashboard_earnings_rate {
  display: flex;
  flex-direction: row;
  align-items: center;
}
