@mixin messageBox () {
  border-radius: 0.3rem;
  width: 14rem;
  height: 3.8rem;
  color: $primary;
}

.chatroom_wrapper {
  position: sticky;
  bottom: 0;
}

.chatroom_viewport_wrapper {
  height: 64rem;
  top: 0;
  right: 0;
  background-color: #35373a;
  overflow: hidden;
}

.chatroom_viewport {
  height: 80%;
  padding: 0 0.5rem 3rem 0.5rem;
  overflow-y: scroll;
}

.message_box {
  margin-bottom: 0.3rem;
  margin: 0.2;

  .right_bubble {
    @include messageBox();
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 7.5rem;
  }

  .left_bubble {
    @include messageBox();
    background-color: #262627;
  }

  p {
    font-size: 1.3rem;
    line-height: 0.1rem;
  }

  .message_data,
  .message_name {
    font-size: 0.2rem;
    color: grey;
  }
}

.chatroom_input_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
}

.chatroom_description {
  width: 100%;
}

.arrowup_icon {
  padding: 0 0.8rem;
  color: $primary;
}
